{% extends layout %}

{% load i18n %}

{% block title %}{% translate "Dashboard" %}{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static  'resume_templates/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static  'resume_templates/css/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static  'resume_templates/css/editor.css' %}">
<link rel="stylesheet" href="{% static  'resume_templates/css/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static  'resume_templates/css/create.css' %}">
<link rel="stylesheet" href="{% static  'resume_templates/css/theme1.css' %}">
<link rel="stylesheet" href="{% static  'resume_templates/css/jquery-ui.min.css' %}">
<style>
    .cvContent {
        zoom: 0.9 !important;
    }
</style>


<div class="main-container">
    <div class="step-progress-bar-container pt-3">
        {% include 'resume_templates/partials/nav-tabs.html' %}
        <div class="editor-content-header">
            <!-- editor panel -->
            <div class="editor-sidebar-content">
                <div id="cvEditorCarousel" class="carousel slide" data-interval="false">
                    <div class="carousel-inner">
                        {% include 'resume_templates/partials/panels/contact.html' %}
                        {% include 'resume_templates/partials/panels/education.html' %}
                        {% include 'resume_templates/partials/panels/experience.html' %}
                        {% include 'resume_templates/partials/panels/certificate.html' %}
                        {% include 'resume_templates/partials/panels/soft-skill.html' %}
                        {% include 'resume_templates/partials/panels/pro-skill.html' %}
                        {% include 'resume_templates/partials/panels/language.html' %}
                        {% include 'resume_templates/partials/panels/achievements.html' %}
                        {% include 'resume_templates/partials/panels/hobbies.html' %}
                        {% include 'resume_templates/partials/panels/reference.html' %}
                        {% include 'resume_templates/partials/panels/about-us.html' %}
                    </div>
                </div>
                <!-- setting panel -->
                {% include 'resume_templates/partials/settings.html' %}
            </div>
            <div class="cv-content-container" style="overflow: hidden;">
                <div class="pull-away mb-4 cv-topbar">
                    <div class="left">
                        <i class="fa-solid fa-gear icon tc-side-panel-open" data-target="settingPanel"></i>
                        <i class="fa fa-print icon ml-3" id="cvPrint"></i>
                        <i class="fa fa-download icon ml-3" title="Download Pdf" id="generatePdf"></i>
                    </div>
                    <div class="right">
                        <ul class="nav nav-tabs nav-line-tabs fs-6">
                            <li class="nav-item">
                                <a class="nav-link active" data-bs-toggle="tab" href="#originalCvPanel">Original</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#kt_tab_pane_2">Preview</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#kt_tab_pane_3">Link 3</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="originalCvPanel" role="tabpanel">
                        <div class="wrapper-container w-100 content-center">
                            <!-- Templates -->
                            {% include 'resume_templates/all_resume_templates/template1.html' %}
                        </div>
                    </div>
                    <div class="tab-pane fade" id="kt_tab_pane_2" role="tabpanel">
                        Preview
                    </div>
                    <div class="tab-pane fade" id="kt_tab_pane_3" role="tabpanel">
                        Link 3
                    </div>
                    <div class="custom-loader-container">
                        <div class="custom-loader"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    {% include 'resume_templates/partials/popups/upload-image.html' %}
    <input type="hidden" id="orderId" value="{{ order_id }}">
    <script src="{% static  'resume_templates/js/jquery.min.js' %}"></script>
    <script src="{% static  'resume_templates/js/jquery-ui.min.js' %}"></script>
    <script src="{% static  'resume_templates/js/popper.min.js' %}"></script>
    <script src="{% static  'resume_templates/js/bootstrap.min.js' %}"></script>
    <script src="{% static  'resume_templates/js/tinymce.bundle.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
    <script src="{% static  'resume_templates/js/function.js' %}"></script>
    <script src="{% static  'resume_templates/js/owl.carousel.min.js' %}"></script>
    <script src="{% static  'resume_templates/js/editor.js' %}"></script>

    {% endblock content %}