<div class="modal fade" id="userUploadPhotoPopup" tabindex="-1" role="dialog"
    aria-labelledby="userUploadPhotoPopupTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content px-3">
            <div class="modal-header border-bottom-none">
                <h5 class="modal-title" id="exampleModalLongTitle">Add a Photo</h5>
            </div>
            <div class="modal-body pb-5">
                <div class="upload-image-container">
                    <i class="fa fa-user user-icon"></i>
                    <h4 class="img-upload-heading">Drag & Drop a Photo Here</h4>
                    <span>or</span>
                    <label for="file-upload" style="position: relative;">
                        <input type="file" id="file-upload">
                        <button class="btn btn-sm fw-bold btn-primary px-5 mt-3">Browse From Your Device</button>
                    </label>
                    <h4 class="img-extention">File Types: JPEG, PNG, GIF Size limited to 4 MB</h4>
                </div>
                <div class="pull-right mt-4 d-none">
                    <button type="button" class="btn btn-sm fw-bold btn-primary px-4 close-window-popup" class="close"
                        data-dismiss="modal" aria-label="Close">Cancel</button>
                    <button class="btn btn-sm fw-bold btn-primary px-4 ml-4">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>