<div class="progress-bar owl-carousel owl-theme mb-4">
    <div class="item">
        <div class="step" data-target="contactPanel">
            <span>contact</span>
            <i class="fas fa-blender-phone"></i>
        </div>
    </div>
    <div class="item">
        <div class="step" data-target="educationPanel">
            <span>Educations</span>
            <i class="fa fa-graduation-cap"></i>
        </div>
    </div>
    <div class="item">
        <div class="step" data-target="expriencePanel">
            <span>Experience</span>
            <i class="fas fa-box"></i>
        </div>
    </div>
    <div class="item">
        <div class="step" data-target="certificatesPanel">
            <span>Certificates</span>
            <i class="fas fa-box"></i>
        </div>
    </div>
    <div class="item">
        <div class="step" data-target="softSkillPanel">
            <span>soft skill</span>
            <i class="fa fa-wrench" aria-hidden="true"></i>
        </div>
    </div>
    <div class="item">
        <div class="step" data-target="proSkillPanel">
            <span>pro skills</span>
            <i class="fa fa-wrench" aria-hidden="true"></i>
        </div>
    </div>
    <div class="item">
        <div class="step" data-target="languagePanel">
            <span>Languages</span>
            <i class="fa fa-globe" aria-hidden="true"></i>
        </div>
    </div>
    <div class="item">
        <div class="step" data-target="achievementsPanel">
            <span>Achievements</span>
            <i class="fa fa-globe" aria-hidden="true"></i>
        </div>
    </div>
    <div class="item">
        <div class="step" data-target="hobbiesPanel">
            <span>Hobbies</span>
            <i class="fas fa-user-shield    "></i>
        </div>
    </div>
    <div class="item">
        <div class="step" data-target="referencesPanel">
            <span>References</span>
            <i class="fas fa-umbrella-beach    "></i>
        </div>
    </div>
    <div class="item">
        <div class="step" data-target="aboutUsPanel">
            <span>Finalize</span>
            <i class="fa fa-check" aria-hidden="true"></i>
        </div>
    </div>
</div>