<div class="tc-panel py-3 px-2" data-toggle="settingPanel">
    <div class="tc-header d-flex justify-content-between">
        <div>
            <h3 class="heading">Customization</h3>
            <p class="more">Adjust options</p>
        </div>
        <i class="fa-solid fa-xmark icon f-16 pr-4 pt-2 cp tc-side-panel-close"></i>
    </div>
    <hr>
    <div class="tc-body" id="customization">
        <label class="label mb-2">Rearrange sections</label>
        <div class="rearrange-sections row-rearange-section">
            <div class="column rearrange-sec-1"></div>
            <div class="column rearrange-sec-2"></div>
        </div>
    </div>
</div>