<div class="carousel-item content-header" data-panel="languagePanel">
    <div>
        <h4 class="heading">Customer Instructions:</h4>
        <div class="head-item">
            <i class="fa fa-star mr-2"></i>
            <span>Educations Dates in a format (2023-2024)</span>
        </div>
        <div class="head-item">
            <i class="fa fa-star mr-2"></i>
            <span>Location No Need</span>
        </div>
        <div class="head-item">
            <i class="fa fa-star mr-2"></i>
            <span>Description only Majars</span>
        </div>
        <hr>
        <div class="row mt-4">
            <div class="col-md-12 skill-container">
                <div class="skill-item-container mb-3 languages-items-container"></div>
                <div class="add-skill-btn cp" data-section="languages" data-card="languagesCard" data-text="Language">
                    <i class="fa fa-plus-circle main-color"></i>
                    <span class="main-color">Add Language</span>
                </div>
            </div>
            <div class="col-md-12 pull-right mt-4 mb-5">
                <button class="carousel-control-prev btn btn-primary px-5 py-4 ml-3" role="button" data-slide="prev">
                    <i class="fa fa-chevron-left ml-2 f-10"></i>
                    Previous
                </button>
                <button class="carousel-control-next btn btn-primary px-5 py-4 mr-3" role="button" data-slide="next">
                    Next
                    <i class="fa fa-chevron-right ml-2 f-10"></i>
                </button>
            </div>
        </div>
    </div>
</div>