<div class="carousel-item content-header" data-panel="softSkillPanel">
    <div>
        <h4 class="heading">Customer Instructions:</h4>
        <div class="head-item">
            <i class="fa fa-star mr-2"></i>
            <span>Experience Dates in a format (2023-2024)</span>
        </div>
        <div class="head-item">
            <i class="fa fa-star mr-2"></i>
            <span>Location No Need</span>
        </div>
        <div class="head-item">
            <i class="fa fa-star mr-2"></i>
            <span>Description only Majars</span>
        </div>
        <hr>
        <!-- Folding card -->
        <div class="cv-form-container">
            <div class="softSkill-container">
                <div class="cards"></div>
                <div class="col-md-12 mt-2">
                    <div class="add-new-card-btn cp" data-add-section="softSkill">
                        <i class="fa fa-plus-circle"></i>
                        <span>Soft Skill</span>
                    </div>
                </div>
            </div>
            <div class="col-md-12 pull-right mt-4 mb-5">
                <button class="carousel-control-prev btn btn-primary px-5 py-4 ml-3" role="button" data-slide="prev">
                    <i class="fa fa-chevron-left ml-2 f-10"></i>
                    Previous
                </button>
                <button type="button" class="btn btn-primary mr-3 save-cv-content-btn" data-target="softSkill">
                    Next
                    <i class="fa fa-chevron-right ml-2 f-10"></i>
                </button>
            </div>
        </div>
    </div>
</div>