<div class="carousel-item content-header" data-panel="softSkillPanel">
    <div>
        <h4 class="heading">Customer Instructions:</h4>
        <div class="head-item">
            <i class="fa fa-star mr-2"></i>
            <span>Experience Dates in a format (2023-2024)</span>
        </div>
        <div class="head-item">
            <i class="fa fa-star mr-2"></i>
            <span>Location No Need</span>
        </div>
        <div class="head-item">
            <i class="fa fa-star mr-2"></i>
            <span>Description only Majars</span>
        </div>
        <hr>
        <!-- Folding card -->
        <div class="softSkill-container">
            <div class="cards">
                <!-- <div class="card shadow-sm resume-folding-card mb-3">
                    <div class="card-header collapsible cursor-pointer rotate active" data-bs-toggle="collapse"
                        data-bs-target="#softSkillCard">
                        <h3 class="card-title">Skill</h3>
                        <div class="content-center">
                            <i class=" fa fa-trash text-white mr-3 delete-card-item" data-delete="softSkillCard"
                                data-card="softSkill"></i>
                            <div class="card-toolbar">
                                <i class="ki-duotone ki-down fs-1 text-white fold-arrow"></i>
                            </div>
                        </div>
                    </div>
                    <div id="softSkillCard" class="collapse show">
                        <div class="card-body p-3">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-item">
                                        <input type="text" data-card="softSkillCard" value="Skill"
                                            class="input-fill-value" data-fill="skill" data-section="softSkill"
                                            autocomplete="off" placeholder="Skill">
                                        <label for="username">Skill</label>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <label for="username">Description</label>
                                    <textarea name="description" data-card="softSkillCard"
                                        class="form-control input-fill-value" data-fill="description"
                                        data-section="softSkill" cols="30" rows="5">Lorem Ipsum has been the industry's standard dummy text ever since the
                                            1500s, when an unknown printer took a galley of type and scrambled it to
                                            make a type specimen book. It has survived not only five centuries, but
                                            also the leap into electronic typesetting, remaining essentially
                                            unchanged. It was popularised in the 1960s with the release of Letraset
                                            sheets containing Lorem Ipsum passages,</textarea>
                                </div>
                                <div class="col-md-12">
                                    <div class="ai-suggestion-btn">AI Suggestions</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
            <div class="col-md-12 mt-2">
                <div class="add-new-card-btn cp" data-add-section="softSkill">
                    <i class="fa fa-plus-circle"></i>
                    <span>Soft Skill</span>
                </div>
            </div>
        </div>
        <div class="col-md-12 pull-right mt-4 mb-5">
            <button class="carousel-control-prev btn btn-primary px-5 py-4 ml-3" role="button" data-slide="prev">
                <i class="fa fa-chevron-left ml-2 f-10"></i>
                Previous
            </button>
            <button class="carousel-control-next btn btn-primary px-5 py-4 mr-3" role="button" data-slide="next">
                Next
                <i class="fa fa-chevron-right ml-2 f-10"></i>
            </button>
        </div>
    </div>
</div>