<div class="cvContent">
    <div class="pull-right">
        <div class="top-right-heading">
            <span class="text"><span data-filling="year">8</span>+ <span data-filling="yearText">Year
                    Experience</span></span>
            <i class="fa fa-star"></i>
        </div>
    </div>
    <div class="cv-header">
        <div class="user-img-header">
            <div class="user-img content-center">
                <img src="{% static  'resume_templates/images/user.png' %}" class="img-fluid">
            </div>
        </div>
        <div class="user-info">
            <h3 class="name" data-setVal="name">SANJAY PREMARJ</h3>
            <p class="headline" data-filling="headline">Health, Environment, Safety and Quality
                (HSEQ)</p>
            <div class="profile section" data-target="profile">
                <p class="paragraph mb-0" data-filling="summary">Lorem Ipsum is simply dummy text of
                    the printing and
                    typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                    ever
                    since the 1500s, when an unknown printer took a galley of type and scrambled it
                    to
                    make a type specimen book. It has survived not only five centuries, but also the
                    leap into electronic typesetting, remaining essentially unchanged. It was
                    popularised in the 1960s with the release of Letraset sheets containing Lorem
                    Ipsum
                    passages, and more recently with desktop publishing software like Aldus
                    PageMaker
                    including versions of Lorem Ipsum.</p>
            </div>
        </div>
    </div>
    <div class="cv-body">
        <div class="sec-con1 sec-con">
            <div class="perInfo">
                <div class="sec-heading">PERSONAL INFORMATION</div>
                <div class="items pt-4 pl-4">
                    <p class="item">
                        <i class="fa fa-phone "></i>
                        <span class="text">
                            <b>Phone :</b>
                            <span data-setVal="phone">+97255256359</span>
                        </span>
                    </p>
                    <p class="item">
                        <i class="fas fa-mail-bulk "></i>
                        <span class="text">
                            <b>Email :</b>
                            <span data-setVal="email">testing@gmail.com</span>
                        </span>
                    </p>
                    <p class="item" data-text="Nationality">
                        <i class="fa fa-globe "></i>
                        <span class="text">
                            <b>Nationality :</b>
                            <span data-setVal="nationality">Pakistan</span>
                        </span>
                    </p>
                    <p class="item" data-text="Merital Status">
                        <i class="fa fa-circle "></i>
                        <span class="text">
                            <b>Merital Status :</b>
                            <span data-setVal="merital_status">Married</span>
                        </span>
                    </p>
                    <p class="item" data-text="DOB">
                        <i class="fa fa-calendar "></i>
                        <span class="text">
                            <b>Date Of Brith :</b>
                            <span data-setVal="dob">SEP-1993</span>
                        </span>
                    </p>
                    <p class="item" data-text="Driving lisence">
                        <i class="fa fa-car "></i>
                        <span class="text">
                            <b>Driving Lisence :</b>
                            <span data-setVal="driving_lisence">UAE</span>
                        </span>
                    </p>
                    <p class="item" data-text="Linked In">
                        <i class="fa fa-car "></i>
                        <span class="text">
                            <b>Linked in :</b>
                            <span data-setVal="linkedIn">https://pk.linkedin.com/</span>
                        </span>
                    </p>
                    <p class="item" data-text="Country">
                        <i class="fa fa-car "></i>
                        <span class="text">
                            <b>Country :</b>
                            <span data-setVal="country">Pakistan</span>
                        </span>
                    </p>
                    <p class="item d-flex">
                        <i class="fab fa-linkedin icon "></i>
                        <img src="{% static 'resume_templates/images/barcode.png'  %}" class="img-fluid ml-2">
                    </p>
                </div>
            </div>
        </div>
        <div class="sec-con2 sec-con"></div>
    </div>
</div>