<div class="cvContent">
    <div class="pull-right">
        <div class="top-right-heading">
            <span class="text"><span data-filling="year">8</span>+ <span data-filling="yearText">Year
                    Experience</span></span>
            <i class="fa fa-star"></i>
        </div>
    </div>
    <div class="cv-header">
        <div class="user-img-header">
            <div class="user-img content-center">
                <img src="{% static  'resume_templates/images/user.png' %}" class="img-fluid">
            </div>
        </div>
        <div class="user-info">
            <h3 class="name" data-setVal="name">SANJAY PREMARJ</h3>
            <p class="headline" data-filling="headline">Health, Environment, Safety and Quality
                (HSEQ)</p>
            <div class="profile section" data-target="profile">
                <p class="paragraph mb-0" data-filling="summary">Lorem Ipsum is simply dummy text of
                    the printing and
                    typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                    ever
                    since the 1500s, when an unknown printer took a galley of type and scrambled it
                    to
                    make a type specimen book. It has survived not only five centuries, but also the
                    leap into electronic typesetting, remaining essentially unchanged. It was
                    popularised in the 1960s with the release of Letraset sheets containing Lorem
                    Ipsum
                    passages, and more recently with desktop publishing software like Aldus
                    PageMaker
                    including versions of Lorem Ipsum.</p>
            </div>
        </div>
    </div>
    <div class="cv-body">
        <div class="sec-con1 sec-con">
            <div class="perInfo">
                <div class="sec-heading">PERSONAL INFORMATION</div>
                <div class="items pt-4 pl-4">
                    <p class="item">
                        <i class="fa fa-phone "></i>
                        <span class="text">
                            <b>Phone :</b>
                            <span data-setVal="phone">+97255256359</span>
                        </span>
                    </p>
                    <p class="item">
                        <i class="fas fa-mail-bulk "></i>
                        <span class="text">
                            <b>Email :</b>
                            <span data-setVal="email">testing@gmail.com</span>
                        </span>
                    </p>
                    <p class="item" data-text="Nationality">
                        <i class="fa fa-globe "></i>
                        <span class="text">
                            <b>Nationality :</b>
                            <span data-setVal="nationality">Pakistan</span>
                        </span>
                    </p>
                    <p class="item" data-text="Merital Status">
                        <i class="fa fa-circle "></i>
                        <span class="text">
                            <b>Merital Status :</b>
                            <span data-setVal="merital_status">Married</span>
                        </span>
                    </p>
                    <p class="item" data-text="DOB">
                        <i class="fa fa-calendar "></i>
                        <span class="text">
                            <b>Date Of Brith :</b>
                            <span data-setVal="dob">SEP-1993</span>
                        </span>
                    </p>
                    <p class="item" data-text="Driving lisence">
                        <i class="fa fa-car "></i>
                        <span class="text">
                            <b>Driving Lisence :</b>
                            <span data-setVal="driving_lisence">UAE</span>
                        </span>
                    </p>
                    <p class="item" data-text="Linked In">
                        <i class="fa fa-car "></i>
                        <span class="text">
                            <b>Linked in :</b>
                            <span data-setVal="linkedIn">https://pk.linkedin.com/</span>
                        </span>
                    </p>
                    <p class="item" data-text="Country">
                        <i class="fa fa-car "></i>
                        <span class="text">
                            <b>Country :</b>
                            <span data-setVal="country">Pakistan</span>
                        </span>
                    </p>
                    <p class="item d-flex">
                        <i class="fab fa-linkedin icon "></i>
                        <img src="{% static 'resume_templates/images/barcode.png'  %}" class="img-fluid ml-2">
                    </p>
                </div>
            </div>
            <div class="section education" data-target="education">
                <div class="sec-heading">EDUCATION</div>
                <div class="content">
                    <div class="items pl-3" data-filling="educationCard">
                        <span class="item" data-edit="degree">
                            Degree
                        </span>
                        <span class="item" data-edit="university">
                            university
                        </span>
                        <span class="item" data-edit="location">
                            Location
                        </span>
                        <span class="item" data-edit="date">
                            date
                        </span>
                        <span class="item" data-edit="description">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi explicabo
                            necessitatibus rem.
                        </span>
                    </div>
                </div>
            </div>
            <div class="section achievements" data-target="achievements">
                <div class="sec-heading">ACHIEVEMENTS</div>
                <div class="content">
                    <div class="items pl-3" data-filling="achievementsCard">
                        <div class="item" data-edit="achievement">Achievements</div>
                        <div class="item" data-edit="description">Lorem ipsum dolor sit amet
                            consectetur, adipisicing elit. Iste, voluptas.</div>
                    </div>
                </div>
            </div>
            <div class="section softSkill" data-target="softSkill">
                <div class="sec-heading">SOFT SKILLS</div>
                <div class="content">
                    <div class="items pl-3" data-filling="softSkillCard">
                        <div class="item" data-edit="skill">Skill</div>
                        <div class="item" data-edit="description">Lorem ipsum dolor sit amet
                            consectetur, adipisicing elit. Iste, voluptas.</div>
                    </div>
                </div>
            </div>
            <div class="section languages" data-target="languages">
                <div class="sec-heading">LANGUAGES</div>
                <div class="content">
                    <div class="items pl-3">
                        <div class="item" data-filling="languagesCard">
                            <i class="fa fa-circle"></i>
                            <div class="w-100 pull-away pr-5">
                                <span class="text" data-edit="text">English</span>
                                <div class=" progress">
                                    <div class="progress-bar" data-edit="progress" role="progressbar" aria-valuenow="70"
                                        aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section hobbies" data-target="hobbies">
                <div class="sec-heading">HOBBIES</div>
                <div class="content">
                    <div class="items pl-3">
                        <div class="item" data-filling="hobbiesCard">
                            <i class="fa fa-circle"></i>
                            <div class="w-100 pull-away pr-5">
                                <span class="text" data-edit="text">Circket</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section references" data-target="references">
                <div class="sec-heading">REFERENCES</div>
                <div class="content">
                    <div class="items pl-3">
                        <div class="item" data-filling="referencesCard">
                            <i class="fa fa-circle"></i>
                            <div class="w-100 pull-away pr-5">
                                <span class="text" data-edit="text">References</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sec-con2 sec-con">
            <div class="section experience" data-target="experience">
                <div class="sec-heading">PROFESSIONAL EXPERIENCE</div>
                <div class="content mt-4 left-bar">
                    <div class="items pl-3" data-filling="experienceCard">
                        <span class="item" data-edit="designation">Designation</span>
                        <span class="item" data-edit="companyName">Company Name</span>
                        <span class="item" data-edit="location">Location</span>
                        <span class="item" data-edit="date">Dates</span>
                        <span class="item" data-edit="description">
                            Lorem Ipsum has been the industry's standard dummy text ever since the
                            1500s, when an unknown printer took a galley of type and scrambled it to
                            make a type specimen book. It has survived not only five centuries, but
                            also the leap into electronic typesetting, remaining essentially
                            unchanged. It was popularised in the 1960s with the release of Letraset
                            sheets containing Lorem Ipsum passages,
                        </span>
                    </div>
                </div>
            </div>
            <div class="section certificates mt-5" data-target="certificates">
                <div class="sec-heading">CERTIFICATES</div>
                <div class="content mt-4 left-bar">
                    <div class="items pl-3" data-filling="certificatesCard">
                        <span class="item" data-edit="certificate">Certificate</span>
                        <span class="item" data-edit="organization">Company Name</span>
                        <span class="item" data-edit="location">
                            Location
                        </span>
                        <span class="item" data-edit="date">
                            Dates
                        </span>
                        <span class="item" data-edit="description">
                            Lorem Ipsum has been the industry's standard dummy text ever since the
                            1500s, when an unknown printer took a galley of type and scrambled it to
                            make a type specimen book. It has survived not only five centuries, but
                            also the leap into electronic typesetting, remaining essentially
                            unchanged. It was popularised in the 1960s with the release of Letraset
                            sheets containing Lorem Ipsum passages,
                        </span>
                    </div>
                </div>
            </div>
            <div class="section skills mt-5" data-target="skills">
                <div class="sec-heading">PROFESSIONAL SKILLS</div>
                <div class="items ml-5">
                    <div class="item" data-filling="proSkillCard">
                        <div class="skill-item">
                            <div class="progress">
                                <div class="progress-bar" data-edit="progress" role="progressbar" aria-valuenow="70"
                                    aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                </div>
                            </div>
                            <span class="text" data-edit="text">Project Management</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>