{% extends layout %}

{% load i18n %}

{% block title %}{% translate "Dashboard" %}{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static  'dashboard/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static  'dashboard/css/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static  'dashboard/css/custom.css' %}">
<link rel="stylesheet" href="{% static  'dashboard/css/order.css' %}">




<div class="order-processing-container">
    <div class="row mx-0">
        <div class="col-md-4">
            <h1 class="page-heading pb-3 d-flex text-gray-900 fw-bold fs-3 flex-column justify-content-center my-0">
                All Orders
            </h1>

            <div class="table-responsive">
                <table id="kt_datatable_fixed_columns" class="table table-row-bordered gy-5 gs-7">
                    <thead class="d-none">
                        <tr class="fw-semibold fs-6 text-gray-800">
                            <th class="min-w-200px">Order</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if orders.exists %}
                        {% for order in orders %}
                        <tr>
                            <td data-order-id="{{ order.id }}">
                                <div>
                                    <div class="item">
                                        <span><b>Order ID :</b> {{ order.id }}</span>
                                    </div>
                                    <div class="item">
                                        <span><b>Email :</b> {{ order.user.email }}</span>
                                    </div>
                                    <div class="item">
                                        <span><b>Order :</b> {{ order.created_at }}</span>
                                    </div>
                                    <div class="item">
                                        <span><b>Order Type :</b> New</span>
                                    </div>
                                    <div class="item">
                                        <span><b>Order Status :</b> {{ order.order_status }}</span>
                                    </div>
                                </div>
                                <button id="kt_drawer_example_basic_button" class="btn btn-primary">More
                                    Details</button>
                            </td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <p>No orders found.</p>
                        {% endif %}

                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-8">
            <div class="pull-away">
                <ul class="nav nav-tabs nav-line-tabs fs-6">
                    <li class="nav-item">
                        <a class="nav-link active" data-bs-toggle="tab" href="#kt_tab_pane_7">Original CV</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#kt_tab_pane_8">Original Picture</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#kt_tab_pane_9">Other</a>
                    </li>
                </ul>

                <!--                    <a href="{# {% url 'dashboard:resumebuilder' %} #}" class="btn btn-sm fw-bold btn-primary ml-3">Process</a>-->

                <form method="post" action="" class="d-flex align-items-center" id="processOrderForm"
                    onsubmit="processOrder(event)">
                    {% csrf_token %}
                    <input type="hidden" name="order_id">
                    <button type="submit" class="btn btn-sm fw-bold btn-primary ml-3">Process</button>
                </form>



            </div>
            <div class="tab-content" id="myTabContent">
                <!--                <div class="tab-pane fade show active mt-3" id="kt_tab_pane_7" role="tabpanel"></div>-->
                <div id="kt_tab_pane_7" class="tab-pane fade show active mt-3" role="tabpanel">
                    <!--                   Multipurpose <iframe id="pdfViewer" style="width: 100%; height: 500px;" src="/static/dashboard/pdf/me.pdf"></iframe>-->


                    <iframe id="pdfViewer" style="width: 100%; height: 500px;"
                        src="{{ MEDIA_URL }}preliminary_files/Ageesh_CV.pdf"></iframe>
                </div>
                <div class="tab-pane fade mt-3" id="kt_tab_pane_8" role="tabpanel">
                    <h4>Cover Letter</h4>
                </div>
                <div class="tab-pane fade mt-3 row" id="kt_tab_pane_9" role="tabpanel">
                    <div class="row"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--begin::View component-->
<div id="kt_drawer_example_basic" class="bg-white drawer drawer-end" data-kt-drawer="true"
    data-kt-drawer-activate="true" data-kt-drawer-toggle="#kt_drawer_example_basic_button"
    data-kt-drawer-close="#kt_drawer_example_basic_close" data-kt-drawer-width="{default:'300px', 'md': '60%'}"
    style="width: 60% !important;">

    <!--begin::Card-->
    <div class="card w-100 rounded-0">
        <!--begin::Card header-->
        <div class="card-header pe-5">
            <!--begin::Title-->
            <div class="card-title">
                <!--begin::User-->
                <div class="d-flex justify-content-center flex-column me-3">
                    <a href="#" class="fs-4 fw-bold text-gray-900 text-hover-primary me-1 lh-1">Order Info</a>
                </div>
                <!--end::User-->
            </div>
            <!--end::Title-->

            <!--begin::Card toolbar-->
            <div class="card-toolbar">
                <!--begin::Close-->
                <div class="btn btn-sm btn-icon btn-active-light-primary" id="kt_drawer_example_basic_close">
                    <i class="ki-duotone ki-cross fs-2"><span class="path1"></span><span class="path2"></span></i>
                </div>
                <!--end::Close-->
            </div>
            <!--end::Card toolbar-->
        </div>
        <!--end::Card header-->

        <!--begin::Card body-->
        <div class="card-body hover-scroll-overlay-y py-0 px-0">
            <div class="row mx-0">
                <div class="col-md-8 border-right">
                    <h1
                        class="page-heading pt-2 content-center pb-3 d-flex text-gray-900 fw-bold fs-3 flex-column justify-content-center my-0">
                        Chats
                    </h1>
                    <!--begin::Messages-->
                    <div class="scroll-y message-area me-n5 pe-5" data-kt-element="messages" data-kt-scroll="true"
                        data-kt-scroll-activate="true" data-kt-scroll-height="auto"
                        data-kt-scroll-dependencies="#kt_drawer_chat_messenger_header, #kt_drawer_chat_messenger_footer"
                        data-kt-scroll-wrappers="#kt_drawer_chat_messenger_body" data-kt-scroll-offset="0px"
                        style="height: 333px;">
                        <!--begin::Message(in)-->
                        <div class="d-flex justify-content-start mb-10">
                            <!--begin::Wrapper-->
                            <div class="d-flex flex-column align-items-start">
                                <!--begin::User-->
                                <div class="d-flex align-items-center mb-2">
                                    <!--begin::Avatar-->
                                    <div class="symbol symbol-35px symbol-circle">
                                        <img alt="Pic" src="assets/media/avatars/300-25.jpg">
                                    </div>
                                    <!--end::Avatar-->
                                    <!--begin::Details-->
                                    <div class="ms-3">
                                        <a href="#" class="fs-5 fw-bold text-gray-900 text-hover-primary me-1">Brian
                                            Cox</a>
                                        <span class="text-muted fs-7 mb-1">2 mins</span>
                                    </div>
                                    <!--end::Details-->
                                </div>
                                <!--end::User-->
                                <!--begin::Text-->
                                <div class="p-5 rounded bg-light-info text-gray-900 fw-semibold mw-lg-400px text-start"
                                    data-kt-element="message-text">How likely are you to recommend our company to
                                    your friends and family ?</div>
                                <!--end::Text-->
                            </div>
                            <!--end::Wrapper-->
                        </div>
                        <!--end::Message(in)-->
                        <!--begin::Message(out)-->
                        <div class="d-flex justify-content-end mb-10">
                            <!--begin::Wrapper-->
                            <div class="d-flex flex-column align-items-end">
                                <!--begin::User-->
                                <div class="d-flex align-items-center mb-2">
                                    <!--begin::Details-->
                                    <div class="me-3">
                                        <span class="text-muted fs-7 mb-1">5 mins</span>
                                        <a href="#" class="fs-5 fw-bold text-gray-900 text-hover-primary ms-1">You</a>
                                    </div>
                                    <!--end::Details-->
                                    <!--begin::Avatar-->
                                    <div class="symbol symbol-35px symbol-circle">
                                        <img alt="Pic" src="assets/media/avatars/300-1.jpg">
                                    </div>
                                    <!--end::Avatar-->
                                </div>
                                <!--end::User-->
                                <!--begin::Text-->
                                <div class="p-5 rounded bg-light-primary text-gray-900 fw-semibold mw-lg-400px text-end"
                                    data-kt-element="message-text">Hey there, we’re just writing to let you know
                                    that you’ve been subscribed to a repository on GitHub.</div>
                                <!--end::Text-->
                            </div>
                            <!--end::Wrapper-->
                        </div>
                        <!--end::Message(out)-->
                        <!--begin::Message(in)-->
                        <div class="d-flex justify-content-start mb-10">
                            <!--begin::Wrapper-->
                            <div class="d-flex flex-column align-items-start">
                                <!--begin::User-->
                                <div class="d-flex align-items-center mb-2">
                                    <!--begin::Avatar-->
                                    <div class="symbol symbol-35px symbol-circle">
                                        <img alt="Pic" src="assets/media/avatars/300-25.jpg">
                                    </div>
                                    <!--end::Avatar-->
                                    <!--begin::Details-->
                                    <div class="ms-3">
                                        <a href="#" class="fs-5 fw-bold text-gray-900 text-hover-primary me-1">Brian
                                            Cox</a>
                                        <span class="text-muted fs-7 mb-1">1 Hour</span>
                                    </div>
                                    <!--end::Details-->
                                </div>
                                <!--end::User-->
                                <!--begin::Text-->
                                <div class="p-5 rounded bg-light-info text-gray-900 fw-semibold mw-lg-400px text-start"
                                    data-kt-element="message-text">Ok, Understood!</div>
                                <!--end::Text-->
                            </div>
                            <!--end::Wrapper-->
                        </div>
                        <!--end::Message(in)-->
                        <!--begin::Message(out)-->
                        <div class="d-flex justify-content-end mb-10">
                            <!--begin::Wrapper-->
                            <div class="d-flex flex-column align-items-end">
                                <!--begin::User-->
                                <div class="d-flex align-items-center mb-2">
                                    <!--begin::Details-->
                                    <div class="me-3">
                                        <span class="text-muted fs-7 mb-1">2 Hours</span>
                                        <a href="#" class="fs-5 fw-bold text-gray-900 text-hover-primary ms-1">You</a>
                                    </div>
                                    <!--end::Details-->
                                    <!--begin::Avatar-->
                                    <div class="symbol symbol-35px symbol-circle">
                                        <img alt="Pic" src="assets/media/avatars/300-1.jpg">
                                    </div>
                                    <!--end::Avatar-->
                                </div>
                                <!--end::User-->
                                <!--begin::Text-->
                                <div class="p-5 rounded bg-light-primary text-gray-900 fw-semibold mw-lg-400px text-end"
                                    data-kt-element="message-text">You’ll receive notifications for all issues, pull
                                    requests!</div>
                                <!--end::Text-->
                            </div>
                            <!--end::Wrapper-->
                        </div>
                        <!--end::Message(out)-->
                        <!--begin::Message(in)-->
                        <div class="d-flex justify-content-start mb-10">
                            <!--begin::Wrapper-->
                            <div class="d-flex flex-column align-items-start">
                                <!--begin::User-->
                                <div class="d-flex align-items-center mb-2">
                                    <!--begin::Avatar-->
                                    <div class="symbol symbol-35px symbol-circle">
                                        <img alt="Pic" src="assets/media/avatars/300-25.jpg">
                                    </div>
                                    <!--end::Avatar-->
                                    <!--begin::Details-->
                                    <div class="ms-3">
                                        <a href="#" class="fs-5 fw-bold text-gray-900 text-hover-primary me-1">Brian
                                            Cox</a>
                                        <span class="text-muted fs-7 mb-1">3 Hours</span>
                                    </div>
                                    <!--end::Details-->
                                </div>
                                <!--end::User-->
                                <!--begin::Text-->
                                <div class="p-5 rounded bg-light-info text-gray-900 fw-semibold mw-lg-400px text-start"
                                    data-kt-element="message-text">You can unwatch this repository immediately by
                                    clicking here:
                                    <a href="https://keenthemes.com">Keenthemes.com</a>
                                </div>
                                <!--end::Text-->
                            </div>
                            <!--end::Wrapper-->
                        </div>
                        <!--end::Message(in)-->
                        <!--begin::Message(out)-->
                        <div class="d-flex justify-content-end mb-10">
                            <!--begin::Wrapper-->
                            <div class="d-flex flex-column align-items-end">
                                <!--begin::User-->
                                <div class="d-flex align-items-center mb-2">
                                    <!--begin::Details-->
                                    <div class="me-3">
                                        <span class="text-muted fs-7 mb-1">4 Hours</span>
                                        <a href="#" class="fs-5 fw-bold text-gray-900 text-hover-primary ms-1">You</a>
                                    </div>
                                    <!--end::Details-->
                                    <!--begin::Avatar-->
                                    <div class="symbol symbol-35px symbol-circle">
                                        <img alt="Pic" src="assets/media/avatars/300-1.jpg">
                                    </div>
                                    <!--end::Avatar-->
                                </div>
                                <!--end::User-->
                                <!--begin::Text-->
                                <div class="p-5 rounded bg-light-primary text-gray-900 fw-semibold mw-lg-400px text-end"
                                    data-kt-element="message-text">Most purchased Business courses during this sale!
                                </div>
                                <!--end::Text-->
                            </div>
                            <!--end::Wrapper-->
                        </div>
                        <!--end::Message(out)-->
                        <!--begin::Message(in)-->
                        <div class="d-flex justify-content-start mb-10">
                            <!--begin::Wrapper-->
                            <div class="d-flex flex-column align-items-start">
                                <!--begin::User-->
                                <div class="d-flex align-items-center mb-2">
                                    <!--begin::Avatar-->
                                    <div class="symbol symbol-35px symbol-circle">
                                        <img alt="Pic" src="assets/media/avatars/300-25.jpg">
                                    </div>
                                    <!--end::Avatar-->
                                    <!--begin::Details-->
                                    <div class="ms-3">
                                        <a href="#" class="fs-5 fw-bold text-gray-900 text-hover-primary me-1">Brian
                                            Cox</a>
                                        <span class="text-muted fs-7 mb-1">5 Hours</span>
                                    </div>
                                    <!--end::Details-->
                                </div>
                                <!--end::User-->
                                <!--begin::Text-->
                                <div class="p-5 rounded bg-light-info text-gray-900 fw-semibold mw-lg-400px text-start"
                                    data-kt-element="message-text">Company BBQ to celebrate the last quater
                                    achievements and goals. Food and drinks provided</div>
                                <!--end::Text-->
                            </div>
                            <!--end::Wrapper-->
                        </div>
                        <!--end::Message(in)-->
                        <!--begin::Message(template for out)-->
                        <div class="d-flex justify-content-end mb-10 d-none" data-kt-element="template-out">
                            <!--begin::Wrapper-->
                            <div class="d-flex flex-column align-items-end">
                                <!--begin::User-->
                                <div class="d-flex align-items-center mb-2">
                                    <!--begin::Details-->
                                    <div class="me-3">
                                        <span class="text-muted fs-7 mb-1">Just now</span>
                                        <a href="#" class="fs-5 fw-bold text-gray-900 text-hover-primary ms-1">You</a>
                                    </div>
                                    <!--end::Details-->
                                    <!--begin::Avatar-->
                                    <div class="symbol symbol-35px symbol-circle">
                                        <img alt="Pic" src="assets/media/avatars/300-1.jpg">
                                    </div>
                                    <!--end::Avatar-->
                                </div>
                                <!--end::User-->
                                <!--begin::Text-->
                                <div class="p-5 rounded bg-light-primary text-gray-900 fw-semibold mw-lg-400px text-end"
                                    data-kt-element="message-text"></div>
                                <!--end::Text-->
                            </div>
                            <!--end::Wrapper-->
                        </div>
                        <!--end::Message(template for out)-->
                        <!--begin::Message(template for in)-->
                        <div class="d-flex justify-content-start mb-10 d-none" data-kt-element="template-in">
                            <!--begin::Wrapper-->
                            <div class="d-flex flex-column align-items-start">
                                <!--begin::User-->
                                <div class="d-flex align-items-center mb-2">
                                    <!--begin::Avatar-->
                                    <div class="symbol symbol-35px symbol-circle">
                                        <img alt="Pic" src="assets/media/avatars/300-25.jpg">
                                    </div>
                                    <!--end::Avatar-->
                                    <!--begin::Details-->
                                    <div class="ms-3">
                                        <a href="#" class="fs-5 fw-bold text-gray-900 text-hover-primary me-1">Brian
                                            Cox</a>
                                        <span class="text-muted fs-7 mb-1">Just now</span>
                                    </div>
                                    <!--end::Details-->
                                </div>
                                <!--end::User-->
                                <!--begin::Text-->
                                <div class="p-5 rounded bg-light-info text-gray-900 fw-semibold mw-lg-400px text-start"
                                    data-kt-element="message-text">Right before vacation season we have the next Big
                                    Deal for you.</div>
                                <!--end::Text-->
                            </div>
                            <!--end::Wrapper-->
                        </div>
                        <!--end::Message(template for in)-->
                    </div>
                    <!--end::Messages-->
                </div>
                <div class="col-md-4 py-2 pb-4">
                    <div class="requirements">
                        <h1
                            class="page-heading pb-3 d-flex text-gray-900 fw-bold fs-3 flex-column justify-content-center my-0">
                            Requirements
                        </h1>
                        <div class="d-flex flex-column">
                            <li class="d-flex align-items-center py-1">
                                <span class="bullet me-5"></span> Lorem ipsum dolor sit amet.
                            </li>
                            <li class="d-flex align-items-center py-1">
                                <span class="bullet me-5"></span> Lorem ipsum dolor sit amet.
                            </li>
                            <li class="d-flex align-items-center py-1">
                                <span class="bullet me-5"></span> Lorem ipsum dolor sit amet.
                            </li>
                            <li class="d-flex align-items-center py-1">
                                <span class="bullet me-5"></span> Lorem ipsum dolor sit amet.
                            </li>
                            <li class="d-flex align-items-center py-1">
                                <span class="bullet me-5"></span> Lorem ipsum dolor sit amet.
                            </li>
                        </div>
                        <hr>
                    </div>
                    <div class="Notes">
                        <h1
                            class="page-heading pb-3 d-flex text-gray-900 fw-bold fs-3 flex-column justify-content-center my-0">
                            Notes
                        </h1>
                        <div class="d-flex flex-column">
                            <li class="d-flex align-items-center py-1">
                                <span class="bullet me-5"></span> Lorem ipsum dolor sit amet.
                            </li>
                            <li class="d-flex align-items-center py-1">
                                <span class="bullet me-5"></span> Lorem ipsum dolor sit amet.
                            </li>
                            <li class="d-flex align-items-center py-1">
                                <span class="bullet me-5"></span> Lorem ipsum dolor sit amet.
                            </li>
                            <li class="d-flex align-items-center py-1">
                                <span class="bullet me-5"></span> Lorem ipsum dolor sit amet.
                            </li>
                            <li class="d-flex align-items-center py-1">
                                <span class="bullet me-5"></span> Lorem ipsum dolor sit amet.
                            </li>
                        </div>
                        <div class="notes-images mt-3">
                            <img src="https://53.fs1.hubspotusercontent-na1.net/hub/53/hubfs/anna-byline-compressor.jpg?width=48&height=48&name=anna-byline-compressor.jpg"
                                alt="" class="note-img">
                            <img src="https://53.fs1.hubspotusercontent-na1.net/hub/53/hubfs/anna-byline-compressor.jpg?width=48&height=48&name=anna-byline-compressor.jpg"
                                alt="" class="note-img">
                            <img src="https://53.fs1.hubspotusercontent-na1.net/hub/53/hubfs/anna-byline-compressor.jpg?width=48&height=48&name=anna-byline-compressor.jpg"
                                alt="" class="note-img">
                            <img src="https://53.fs1.hubspotusercontent-na1.net/hub/53/hubfs/anna-byline-compressor.jpg?width=48&height=48&name=anna-byline-compressor.jpghttps://53.fs1.hubspotusercontent-na1.net/hub/53/hubfs/anna-byline-compressor.jpg?width=48&height=48&name=anna-byline-compressor.jpg"
                                alt="" class="note-img">
                        </div>
                        <hr>
                    </div>
                    <div class="template">
                        <h1
                            class="page-heading pb-3 d-flex text-gray-900 fw-bold fs-3 flex-column justify-content-center my-0">
                            Templates
                        </h1>
                        <div class="form-check ml-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                            <label class="form-check-label" for="flexCheckChecked">
                                Checked checkbox
                            </label>
                        </div>
                        <hr>
                    </div>
                    <div class="payments">
                        <h1
                            class="page-heading pb-3 d-flex text-gray-900 fw-bold fs-3 flex-column justify-content-center my-0">
                            Payments
                        </h1>
                        <div class="form-check ml-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                            <label class="form-check-label" for="flexCheckChecked">
                                Checked checkbox
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end::Card body-->
    </div>
    <!--end::Card-->
</div>
<!--end::View component-->

<!-- Modal view other data -->
<div class="modal fade" tabindex="-1" id="viewOtherDetails">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title"></h3>

                <!--begin::Close-->
                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal"
                    aria-label="Close">
                    <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                </div>
                <!--end::Close-->
            </div>

            <div class="modal-body">

            </div>
        </div>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.6.347/pdf.min.js"
    integrity="sha512-Z8CqofpIcnJN80feS2uccz+pXWgZzeKxDsDNMD/dJ6997/LSRY+W4NmEt9acwR+Gt9OHN0kkI1CTianCwoqcjQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>



<script src="{% static  'dashboard/js/jquery.min.js' %}"></script>
<script src="{% static  'dashboard/js/popper.min.js' %}"></script>
<script src="{% static  'dashboard/js/bootstrap.min.js' %}"></script>
<script src="{% static  'dashboard/js/order.js' %}"></script>






{% endblock content %}