{% extends layout %}

{% load i18n %}

{% block title %}{% translate "Dashboard" %}{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static  'dashboard/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static  'dashboard/css/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static  'dashboard/css/custom.css' %}">
<link rel="stylesheet" href="{% static  'dashboard/css/order.css' %}">








<div>
<h1>this is resume builder page </h1>
</div>









<script src="{% static  'dashboard/js/jquery.min.js' %}"></script>
<script src="{% static  'dashboard/js/popper.min.js' %}"></script>
<script src="{% static  'dashboard/js/bootstrap.min.js' %}"></script>
<script src="{% static  'dashboard/js/order.js' %}"></script>






{% endblock content %}