{% extends layout %}

{% load i18n %}

{% block title %}{% translate "Dashboard" %}{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static  'dashboard/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static  'dashboard/css/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static  'dashboard/css/custom.css' %}">
<link rel="stylesheet" href="{% static  'dashboard/css/order.css' %}">











<div class="container-fluid">
    <div class="row">
        <!-- Templates Column -->
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Templates</h3>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        {% for template in templates %}
                        <li class="list-group-item template-item" data-template-id="{{ template.id }}">
                            {{ template.name }}
                            {% if template.is_default %}
                            <span class="badge badge-success">Default</span>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <!-- Variations Column -->
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Variations</h3>
                </div>
                <div class="card-body">
                    <div id="variationsContainer">
                        <!-- Variations will be loaded here dynamically -->
                        <p>Select a template to view its variations.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>











<script src="{% static  'dashboard/js/jquery.min.js' %}"></script>
<script src="{% static  'dashboard/js/popper.min.js' %}"></script>
<script src="{% static  'dashboard/js/bootstrap.min.js' %}"></script>
<script src="{% static  'dashboard/js/order.js' %}"></script>






{% endblock content %}