#kt_datatable_fixed_columns_info {
    display: none;
}

.dataTables_scrollBody {
    max-height: 100vh !important;
}

#kt_datatable_fixed_columns tbody tr td {
    display: flex;
    align-items: start;
    justify-content: space-between;
    cursor: pointer;
}

#kt_datatable_fixed_columns tbody tr td.active {
    background-color: #ddd;
}

#kt_datatable_fixed_columns tbody tr td #kt_drawer_example_basic_button {
    display: none;
}

#kt_datatable_fixed_columns tbody tr td.active #kt_drawer_example_basic_button {
    display: block;
}

#kt_drawer_example_basic .notes-images img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

#kt_drawer_example_basic .notes-images {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.d-none {
    display: none !important;
}

.border-right {
    border-right: 1px solid #ddd;
}

#kt_drawer_example_basic .message-area {
    height: calc(100vh - 114px) !important;
}