@page {
    size: A4;
    margin: 0;
    padding: 0;
}


@media print {

    html,
    body {
        width: 210mm;
        margin: 0;
        padding: 0;
        /* overflow: hidden; */
        background-color: #f0f0f0;
        /* Light grey background color for visibility */
        -webkit-print-color-adjust: exact;
        /* Chrome, Safari */
        color-adjust: exact;
        /* Firefox */
    }

    .cvContent .user-info {
        padding-left: 0px !important;
    }

    .cvContent .cv-body .sec-con2 {
        padding: 0 !important;
        margin: 0 !important;
    }

    @page {
        size: A4;
        margin: 10mm;
    }

    .cv-body {
        page-break-inside: avoid;
        height: 297mm;
    }
}